<%- include("partials/header"); -%>

    <form class="" action="/form" method="post">
      <div class="top">
        <label for="from"> Transferred From: &nbsp;&nbsp;</label>
        <input type="number" name="idfrom" >
      </div>
      <div class="details">
        <label for="amount"> Amount: &nbsp;&nbsp;</label>
        <input type="number" name="rupees" >
      </div>
      <div class="details">
        <label for="to"> Transferred To: &nbsp;&nbsp;</label>
        <input type="number" name="idto">
      </div>
      <div>
        <button type="submit" class="btn btn-outline-info pay"> Pay </button>
      </div>
    </form>

    </body>
  </html>
